@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  --ff-primary: 'Bebas Neue', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;
  --ff-outline: 'Bungee Outline', cursive;

  --bg-color: #A03333;
  --bg-secondary-color: #FF0202;
  --bg-tertiary-color: #1E1E1E;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #222222;
  --tertiary-text-color: #787878;

}

.my-body {
  background-color: var(--bg-color);
}

.my-navbar {
  margin-right: 80px;
}

.navbar-nav a {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 24px;
}

.nav-item {
  margin-right: 30px;
}

#registro {
  position: relative;
  margin-right: 0px;
}

#registro svg {
  width: 152px;
  height: 44px;
}

#registro a {
  position: absolute;
  top: -2px;
  left: 18px;
}

#logo {
  width: 101px;
  height: 60px;
  margin: 15px auto 15px 80px;
}

#hero {
  padding: 0px 80px;
}

#hero-title {
  flex: 0 0 0%;
  margin-top: 98px;
}

#hero-title span {
  color: var(--primary-text-color);
  font-family: var(--ff-outline);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#hero-title h1 {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 102px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#hero-title p {
  width: 690px;
  color: var(--primary-text-color);
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#hero-title .start {
  width: max-content;
  margin-top: 28px;
  position: relative;
}

#hero-title .start>svg:first-child {
  width: 187px;
  height: 54px;
}

#hero-title .start a {
  width: 100%;
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}

#hero-title .start a>svg {
  margin-left: 15px;
}

#hero-img {
  flex: 0 0 0%;
  margin: 0 auto;
}

#hero-img img {
  width: 477px;
  height: 627px;
}

.extras {
  min-width: 100%;
  height: 56px;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  overflow: hidden;
}

.extras-rolagem {
  min-width: 100%;
  height: 56px;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.extras p {
  font-size: 32px;
  margin: 0;
  white-space: nowrap;
  flex-shrink: 0;
}

.extras span {
  margin: 0px 40px;
  white-space: nowrap;
  flex-shrink: 0;
}

/* DIFERENCIAIS */

#diferenciais {
  padding: 0 80px;
  margin: 160px auto;
}

#diferenciais h2 {
  margin: 0 auto 80px auto;
  text-align: center;
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#diferenciais h2>span {
  color: var(--primary-text-color);
  font-family: var(--ff-outline);
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 27px;
}

#diferenciais .cards-diferenciais {
  /* width: 320px; */
  height: 346px;
  margin: 0 auto;
  padding: 24px;
}

#diferenciais .cards-diferenciais>svg {
  width: 77px;
  height: 77px;
}

#diferenciais .cards-diferenciais h3 {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

#diferenciais .cards-diferenciais p {
  width: 273px;
  color: var(--primary-text-color);
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-diferenciais {
  width: max-content;
  position: relative;
}

.btn-diferenciais a {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}

.svg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(155%, -50%);
}

.cards-diferenciais:nth-child(2) {
  background-color: var(--bg-tertiary-color);
}

/* PLANOS */

#planos {
  height: 657px;
  background-color: var(--secondary-text-color);
}

#planos h2 {
  padding-top: 80px;
  margin: 0 auto 80px auto;
  text-align: center;
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#cards-plano {
  margin: 0 auto;
  padding: 0 80px 80px 80px;
}

#cards-plano .card-plano {
  width: 400px;
  height: 322px;
  margin: 0 auto;
  padding: 0;
  background-color: #b4b4b4;
}

.bg-image {
  display: block;
  background-image: url(/assets/images/heroRectangle.png);
  background-size: cover;
  width: 100%;
  height: 168px;
}

.bg-image-2 {
  display: block;
  background-image: url(/assets/images/heroRectangle2.png);
  background-size: cover;
  width: 100%;
  height: 168px;
}

.bg-image-3 {
  display: block;
  background-image: url(/assets/images/heroRectangle3.png);
  background-size: cover;
  width: 100%;
  height: 168px;
}

.passe {
  height: 54px;
  background-color: #000;
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
}

.passe-melhor-escolha {
  background-color: var(--bg-secondary-color);
}

.passe h3 {
  margin: 0;
  padding: 0;
  margin-left: 10px;

  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-selecionar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-selecionar p {
  width: 55%;
  margin: 0;
  color: var(--tertiary-text-color);
  font-family: var(--ff-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-selecionar p span {
  color: var(--primary-text-color);
  font-weight: 700;
}

#card-melhor-plano {
  position: relative;
}

.recomendado {
  position: absolute;
  top: -36px;
  background-color: var(--bg-secondary-color);
  width: 100%;
  height: 40px;
  padding: 6px;
  color: var(--primary-text-color);
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

/* FAÇA PARTE */

.faca-parte {
  height: 660px;
  padding: 0 80px;
}

.titulo-desc span {
  color: var(--primary-text-color);
  font-family: var(--ff-outline);
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titulo-desc h2 {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titulo-desc p {
  margin: 0;
  padding: 0;
  width: 80%;
  color: var(--primary-text-color);
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.info span {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info p {
  max-width: 85%;
  color: var(--primary-text-color);
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* CONTATO */

.contato {
  height: 470px;
  background-color: var(--bg-tertiary-color);

  position: relative;
}

.contato-texto {
  margin: 0;
  padding: 0;
  padding: 70px 0 0 80px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.contato-texto h2 {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contato-texto p {
  color: var(--primary-text-color);
  font-family: var(--ff-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-contato {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;

  position: relative;
}

.input-nome input,
.input-telefone input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-nome input:focus,
.input-telefone input:focus {
  border-color: var(--bg-secondary-color);
  box-shadow: 0 0 5px var(--bg-color);
}

.input-nome label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: all 0.2s ease;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-telefone label {
  position: absolute;
  top: 10px;
  left: 215px;
  pointer-events: none;
  transition: all 0.2s ease;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-nome input:focus+label,
.input-nome input:not(:placeholder-shown)+label {
  top: -26px;
  left: 5px;
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  padding: 5px 8px;
}

.input-telefone input:focus+label,
.input-telefone input:not(:placeholder-shown)+label {
  top: -26px;
  left: 213px;
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  padding: 5px 8px;
}

.contato-texto button {
  width: max-content;
  margin-top: 30px;
  text-transform: uppercase;
}

.contato .contato-img {
  position: absolute;
  top: -150px;
  left: 65%;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1370px) {

  /* HERO TITULO / IMG */
  #hero {
    padding: 0px 40px;
  }

  #hero-title span {
    font-size: 64px;
  }

  #hero-title h1 {
    font-size: 80px;
  }

  #hero-title p {
    width: 550px;
    font-size: 16px;
  }

  #hero-title .start>svg:first-child {
    width: 177px;
    height: 44px;
  }

  #hero-title .start a {
    font-size: 22px;
  }

  #hero-img img {
    width: 417px;
    height: 567px;
  }

  /* EXTRAS */

  .extras p {
    font-size: 24px;
  }

  .extras span {
    margin: 0px 30px;
  }

  /* DIFERENCIAIS */

  #diferenciais {
    padding: 0 40px;
    margin: 110px auto;
  }

  #diferenciais h2 {
    margin: 0 auto 60px auto;
    font-size: 68px;
  }

  #diferenciais h2>span {
    font-size: 54px;
    margin-right: 0px;
  }

  #diferenciais .cards-diferenciais {
    /* width: 290px; */
    height: 316px;
    padding: 20px;
  }

  #diferenciais .cards-diferenciais>img {
    width: 62px;
    height: 62px;
  }

  #diferenciais .cards-diferenciais h3 {
    font-size: 24px;
  }

  #diferenciais .cards-diferenciais p {
    width: 260px;
    font-size: 16px;
    line-height: 22px;
  }

  .svg-btn {
    width: 177px;
    height: 44px;
    margin-left: -14px;
  }

  .btn-diferenciais a {
    font-size: 14px;
  }

  .svg-icon {
    width: 20px;
    height: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(155%, -50%);
  }

  /* PLANOS */

  #planos h2 {
    padding-top: 60px;
    margin: 0 auto 60px auto;
    font-size: 72px;
  }

  #cards-plano {
    padding: 0 40px 60px 40px;
  }

  #cards-plano .card-plano {
    width: 380px;
    height: 302px;
  }

  .bg-image,
  .bg-image-2,
  .bg-image-3 {
    height: 148px;
  }

  .passe {
    height: 48px;
  }

  .passe h3 {
    font-size: 34px;
  }

  .btn-selecionar p {
    font-size: 22px;
  }

}

@media only screen and (max-width: 1280px) {
  /* PLANOS */

  #planos h2 {
    padding-top: 80px;
    margin: 0 auto 80px auto;
    font-size: 62px;
  }

  #cards-plano {
    padding: 0px 30px;
  }

  #cards-plano .card-plano {
    width: 360px;
    height: 282px;
  }

  .bg-image,
  .bg-image-2,
  .bg-image-3 {
    height: 128px;
  }

  .passe {
    height: 40px;
  }

  .passe h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1240px) {
  /* DIFERENCIAIS */

  #diferenciais {
    margin: 100px auto;
  }

  #diferenciais .cards-diferenciais {
    /* width: 270px; */
    height: 296px;
    padding: 16px;
  }

  #diferenciais .cards-diferenciais>img {
    width: 52px;
    height: 52px;
  }

  #diferenciais .cards-diferenciais h3 {
    font-size: 20px;
  }

  #diferenciais .cards-diferenciais p {
    width: 250px;
    font-size: 14px;
    line-height: 22px;
  }

  .svg-btn {
    width: 160px;
    height: 48px;
    margin-left: 0px;
  }

  .btn-diferenciais a {
    font-size: 14px;
  }

  .svg-icon {
    width: 22px;
    height: 20px;
  }

  /* FAÇA PARTE */

  .faca-parte {
    padding: 0 40px;
  }

  .faca-parte img {
    width: 414px;
    height: 542px;
  }

  .titulo-desc span {
    font-size: 54px;
  }

  .titulo-desc h2 {
    font-size: 64px;
  }

  .info {
    margin-top: 40px;
    gap: 0px;
  }

  .info span {
    font-size: 54px;
  }

  .info p {
    max-width: 80%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  /* PLANOS */

  #planos h2 {
    padding-top: 60px;
    margin: 0 auto 80px auto;
  }

  #cards-plano .card-plano {
    width: 320px;
    height: 242px;
  }

  .bg-image,
  .bg-image-2,
  .bg-image-3 {
    height: 98px;
  }

  .passe {
    height: 34px;
  }

  .passe h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1120px) {
  /* HERO TITULO / IMG */

  #hero-title span {
    font-size: 56px;
  }

  #hero-title h1 {
    font-size: 72px;
  }

  #hero-title p {
    width: 510px;
    line-height: 24px;
  }

  #hero-img img {
    width: 377px;
    height: 527px;
  }

  /* EXTRAS */

  .extras p {
    font-size: 18px;
  }

  .extras span {
    margin: 0px 20px;
  }

  /* DIFERENCIAIS */

  #diferenciais {
    margin: 80px auto;
  }

  #diferenciais .cards-diferenciais>img {
    width: 42px;
    height: 42px;
  }

  #diferenciais .cards-diferenciais h3 {
    font-size: 18px;
  }

  #diferenciais .cards-diferenciais p {
    width: 220px;
    font-size: 14px;
    line-height: 20px;
  }

  .svg-btn {
    width: 150px;
    height: 38px;
    margin-left: -10px;
  }

  .btn-diferenciais a {
    font-size: 12px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -50%);
  }

  .svg-icon {
    width: 20px;
    height: 18px;

    transform: translate(90%, -50%);
  }

  /* CONTATO */

  .contato-texto {
    padding: 70px 0 0 40px;
  }

  .contato-texto h2 {
    font-size: 62px;
  }

  .contato-texto p {
    font-size: 18px;
  }

  .input-nome input,
  .input-telefone input {
    padding: 6px;
  }

  .input-nome input:focus+label,
  .input-nome input:not(:placeholder-shown)+label {
    top: -22px;
    font-size: 14px;
    padding: 4px 7px;
  }

  .input-telefone input:focus+label,
  .input-telefone input:not(:placeholder-shown)+label {
    top: -22px;
    font-size: 14px;
    padding: 4px 7px;
  }

  .contato .contato-img {
    position: absolute;
    top: -115px;
    left: 57%;
  }

  .contato-img img {
    width: 400px;
    height: 580px;
  }

}

@media only screen and (max-width: 1070px) {
  /* PLANOS */

  #planos h2 {
    margin: 0 auto 60px auto;
    padding-bottom: 60px;
  }

  #cards-plano .card-plano {
    width: 300px;
    height: 262px;
  }

  .bg-image,
  .bg-image-2,
  .bg-image-3 {
    height: 108px;
  }

  .passe {
    height: 44px;
  }

  .passe h3 {
    font-size: 24px;
  }

  .btn-selecionar {
    padding: 8px;
  }

  .btn-selecionar p {
    font-size: 18px;
  }

  .btn-selecionar button {
    width: 40%;
    font-size: 14px;
  }

  .recomendado {
    font-size: 14px;
    top: -32px;
    height: 34px;
  }
}

@media only screen and (max-width: 1030px) {
  /* HERO TITULO / IMG */

  #hero-title span {
    font-size: 52px;
  }

  #hero-title h1 {
    font-size: 64px;
  }

  #hero-title p {
    width: 510px;
    line-height: 20px;
  }

  #hero-img img {
    width: 307px;
    height: 457px;
  }

  /* EXTRAS */

  .extras p {
    font-size: 22px;
  }

  .extras span {
    margin: 0px 18px;
  }

  /* PLANOS */

  #planos h2 {
    margin: 0 auto 60px auto;
    padding-bottom: 60px;
  }

  #cards-plano .card-plano {
    width: 300px;
    height: 262px;
  }

  .bg-image,
  .bg-image-2,
  .bg-image-3 {
    height: 108px;
  }

  .passe {
    height: 44px;
  }

  .passe h3 {
    font-size: 24px;
  }

  .btn-selecionar {
    padding: 8px;
  }

  .btn-selecionar p {
    font-size: 18px;
  }

  .btn-selecionar button {
    width: 40%;
    font-size: 14px;
  }

  .recomendado {
    font-size: 14px;
    top: -32px;
    height: 34px;
  }

  /* FAÇA PARTE */

  .faca-parte {
    height: 600px;
  }

  .faca-parte img {
    width: 374px;
    height: 502px;
  }

  .titulo-desc span {
    font-size: 46px;
  }

  .titulo-desc h2 {
    font-size: 56px;
  }

  .titulo-desc p {
    font-size: 16px;
  }

  .info {
    width: 90%;
  }

  .info span {
    font-size: 46px;
  }

  .info p {
    max-width: 85%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  #planos {
    height: max-content;
    padding: 0px 0px 120px 0px;
  }

  #planos h2 {
    padding: 0;
    margin: 0;
    padding: 60px 0px;
  }

  #cards-plano {
    flex-direction: column;
  }

  #cards-plano .card-plano {
    width: 390px;
    height: 302px;
  }

  #cards-plano #card-melhor-plano {
    margin: 26px auto 16px auto;
  }

  .bg-image,
  .bg-image-2,
  .bg-image-3 {
    height: 160px;
  }

  #cards-plano #card-melhor-plano .recomendado {
    top: -10px;
  }
}

@media only screen and (max-width: 991px) {

  /* NAVBAR */

  #logo {
    width: 91px;
    height: 50px;
    margin: 15px auto 15px 40px;
  }

  #toggler-nav {
    margin-right: 40px;
    border-color: var(--primary-text-color);
  }

  #toggler-nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .my-navbar {
    margin: 0;
  }

  .navbar-nav {
    align-items: center;
  }

  .my-navbar .navbar-nav li {
    margin: 8px 0px;
    border: 2px solid var(--bg-tertiary-color);
    width: 20%;
    text-align: center;
  }

  #registro svg {
    visibility: hidden;
  }

  #registro a {
    left: 50%;
    transform: translateX(-50%);
  }

  /* DIFERENCIAIS */

  #diferenciais {
    margin: 80px auto;
  }

  #cards-diferenciais {
    text-align: center;
  }

  .cards-diferenciais:nth-child(2) {
    background-color: initial;
  }

  #diferenciais .cards-diferenciais>img {
    width: 62px;
    height: 62px;
  }

  #diferenciais .cards-diferenciais h3 {
    font-size: 28px;
  }

  #diferenciais .cards-diferenciais p {
    width: 75%;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
  }

  .btn-diferenciais {
    margin: 0 auto;
  }

  .svg-btn {
    width: 100%;
    height: 50px;
    margin: 16px auto 0 auto;
  }

  .btn-diferenciais a {
    font-size: 16px;
    width: 60%;

    position: absolute;
    top: 62%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .svg-icon {
    width: 24px;
    height: 20px;

    top: 62%;
    left: 75%;

    transform: translate(-50%, -50%);
  }
}